@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body { background-image: url('/bg.svg'); }

.ch-codeblock .ch-code-button {
  display: none;
}

.ch-codeblock:hover .ch-code-button {
  display: block;
}
